In [29]:
import pandas as pd
import os

scratch_directory = os.environ.get('SCRATCH')
home_directory = os.environ.get('HOME')

In [42]:
MB_DATASETS = ["artist", "release", "release-group"]
MB_ROOT_DIR = scratch_directory + "/data/json-dumps/20231028-001001/{0}/mbdump/{0}"
LFM_DATASETS = ["albums", "artists", "listening-counts", "listening-events", "lyrics-features", "spotify-uris", "tags-micro-genres", "tags", "tracks", "users"]
FORMAT = ["tsv", "json"]
LFM_ROOT_DIR = scratch_directory + "/data/LFM-2b/{0}.{1}.bz2"

In [43]:
artists_lfm = pd.read_csv(LFM_ROOT_DIR.format("artists", "tsv"), sep="\t")

In [44]:
artists_lfm.head()

   artist_id                 artist_name
0          0                         NaN
1          1               ##Horror Inc
2          2             840
8:>;09GC:
3          3  ;5:A0=4@ 20:8= (>: >3)
4          4               0=40 G5BK@QE

In [45]:
pd.read_json(MB_ROOT_DIR.format("artist"), lines=True, nrows=1).columns

Index(['annotation', 'genres', 'relations', 'end_area', 'tags', 'sort-name',
       'area', 'type', 'gender', 'isnis', 'end-area', 'type-id', 'name',
       'disambiguation', 'ipis', 'begin-area', 'gender-id', 'id', 'rating',
       'begin_area', 'aliases', 'life-span', 'country'],
      dtype='object')

In [50]:
artists_mb = pd.read_json(MB_ROOT_DIR.format("artist"), lines=True, chunksize=100000)

In [47]:
!du -sh $scratch_directory/data

63G	/network/scratch/a/armin.moradi/data

In [55]:
i = 0
DST_FOLDER = f"{scratch_directory}/data/merged_artists.csv"
for artist_mb_chunk in artists_mb:
    result_df = pd.merge(artist_mb_chunk, artists_lfm, left_on='name', right_on='artist_name', how='inner')
    if i == 0:
        result_df.to_csv(DST_FOLDER, mode='w', index=False)
        print(i, 'Done!')
        i+= 1
    else:
        result_df.to_csv(DST_FOLDER, mode='a', header=False, index=False)
        i += 1
        print(i, 'Done!')

<class 'pandas.core.frame.DataFrame'> <class 'pandas.core.frame.DataFrame'>
0 Done!
<class 'pandas.core.frame.DataFrame'> <class 'pandas.core.frame.DataFrame'>

KeyboardInterrupt:

In [54]:
DST_FOLDER

'/network/scratch/a/armin.moradi/data/merged_artists.csv'

In [ ]:
result_df.columns

Index(['end-area', 'type', 'isnis', 'gender', 'end_area', 'relations', 'area',
       'sort-name', 'tags', 'annotation', 'genres', 'begin_area', 'rating',
       'country', 'life-span', 'aliases', 'id', 'begin-area', 'ipis',
       'gender-id', 'name', 'type-id', 'disambiguation', 'artist_id',
       'artist_name'],
      dtype='object')

In [ ]:
# !mv -r data/ $SCRATCH
!mv --help

Usage: mv [OPTION]... [-T] SOURCE DEST
  or:  mv [OPTION]... SOURCE... DIRECTORY
  or:  mv [OPTION]... -t DIRECTORY SOURCE...
Rename SOURCE to DEST, or move SOURCE(s) to DIRECTORY.

Mandatory arguments to long options are mandatory for short options too.
      --backup[=CONTROL]       make a backup of each existing destination file
  -b                           like --backup but does not accept an argument
  -f, --force                  do not prompt before overwriting
  -i, --interactive            prompt before overwrite
  -n, --no-clobber             do not overwrite an existing file
If you specify more than one of -i, -f, -n, only the final one takes effect.
      --strip-trailing-slashes  remove any trailing slashes from each SOURCE
                                 argument
  -S, --suffix=SUFFIX          override the usual backup suffix
  -t, --target-directory=DIRECTORY  move all SOURCE arguments into DIRECTORY
  -T, --no-target-directory    treat DEST as a normal file
  -u, --update                 move only when the SOURCE file is newer
                                 than the destination file or when the
                                 destination file is missing
  -v, --verbose                explain what is being done
  -Z, --context                set SELinux security context of destination
                                 file to default type
      --help     display this help and exit
      --version  output version information and exit

The backup suffix is '~', unless set with --suffix or SIMPLE_BACKUP_SUFFIX.
The version control method may be selected via the --backup option or through
the VERSION_CONTROL environment variable.  Here are the values:

  none, off       never make backups (even if --backup is given)
  numbered, t     make numbered backups
  existing, nil   numbered if numbered backups exist, simple otherwise
  simple, never   always make simple backups

GNU coreutils online help: <http://www.gnu.org/software/coreutils/>
Full documentation at: <http://www.gnu.org/software/coreutils/mv>
or available locally via: info '(coreutils) mv invocation'

In [ ]:
dfdf[['name', 'artist_name', 'country', 'life-span', 'gender', 'area']]

,name,artist_name,country,life-span,gender,area
0,The Starfires,The Starfires,None,"{'ended': True, 'end': '1967', 'begin': '1965'}",None,"{'type-id': None, 'type': None, 'name': 'Los A..."
1,Aslyn,Aslyn,US,"{'ended': False, 'end': None, 'begin': '1980-0...",Female,"{'id': '489ce91b-6658-3307-9877-795b68554c98',..."
2,Bernd Spier,Bernd Spier,DE,"{'ended': True, 'end': '2017-12-30', 'begin': ...",Male,"{'name': 'Germany', 'type': None, 'type-id': N..."
3,Stereo Maracanã,Stereo Maracanã,None,"{'begin': None, 'end': None, 'ended': False}",None,None
4,Humanos,Humanos,PT,"{'begin': '2004', 'end': '2006', 'ended': True}",None,"{'sort-name': 'Portugal', 'id': '781b0c54-3d54..."
5,The African Dream,The African Dream,None,"{'begin': None, 'ended': False, 'end': None}",None,None
6,The Mom's Boys,The Mom's Boys,US,"{'ended': False, 'end': None, 'begin': None}",None,"{'sort-name': 'United States', 'iso-3166-1-cod..."
7,T.E.M.P.O.,T.E.M.P.O.,JP,"{'end': None, 'ended': False, 'begin': None}",Male,"{'sort-name': 'Japan', 'id': '2db42837-c832-3c..."
8,The Tall Boy,The Tall Boy,None,"{'begin': None, 'end': None, 'ended': False}",None,None
9,Debi Graham,Debi Graham,None,"{'ended': False, 'end': None, 'begin': None}",None,None

In [ ]:
import pandas as pd
df = pd.read_csv('data/merged_artists.csv', nrows=10)

In [ ]:
df[['name', 'artist_name']].head()

                       name               artist_name
0  Young American Primitive  Young American Primitive
1                 Minutemen                 Minutemen
2               Vital Signs               Vital Signs
3                J.D.K.BAND                J.D.K.BAND
4                   Niagara                   Niagara