In [28]:
import pandas as pd
import matplotlib.pyplot as plt

ROOT_DIR = 'LFM-2b'



albums = pd.read_csv(ROOT_DIR + '/albums.tsv.bz2', compression='bz2', sep='\t', error_bad_lines=False, chunksize=100)
artists = pd.read_csv(ROOT_DIR + '/artists.tsv.bz2', compression='bz2', sep='\t', error_bad_lines=False, chunksize=100)
listening_events = pd.read_csv(ROOT_DIR + '/listening-events.tsv.bz2', compression='bz2', sep='\t', error_bad_lines=False, chunksize=100)
listening_counts = pd.read_csv(ROOT_DIR + '/listening-counts.tsv.bz2', compression='bz2', sep='\t', error_bad_lines=False, chunksize=100)

# lyrics_features = pd.read_json(ROOT_DIR + '/lyrics-features.json.bz2', compression='bz2', lines=True, chunksize=100)
spotify_uris = pd.read_csv(ROOT_DIR + '/spotify-uris.tsv.bz2', compression='bz2', sep='\t', error_bad_lines=False, chunksize=100)
# tags_micro_genres = pd.read_json(ROOT_DIR + '/tags-micro-genres.json.bz2', compression='bz2', lines=True, chunksize=100)
# tags = pd.read_json(ROOT_DIR + '/tags.json.bz2', compression='bz2', lines=True, chunksize=100)

tracks = pd.read_csv(ROOT_DIR + '/tracks.tsv.bz2', compression='bz2', sep='\t', error_bad_lines=False, chunksize=100)
users = pd.read_csv(ROOT_DIR + '/users.tsv.bz2', compression='bz2', sep='\t', error_bad_lines=False, chunksize=100)

In [30]:
for t in albums:
    print(t.head())
    break

     album_id  album_name                                        artist_name
100       100         NaN                     ! WWW.POLSKIE-MP3.TK ! zlote l
101       101         NaN                  ! WWW.POLSKIE-MP3.TK ! zlote lata
102       102         NaN        ! WWW.POLSKIE-MP3.TK ! zlote przeboje 60-70
103       103         NaN  ! WWW.POLSKIE-MP3.TK ! zlote przeboje polskiej...
104       104         NaN   ! WWW.POLSKIE-MP3.TK ! zlote przeboje socjalizmu

In [31]:
for t in artists:
    print(t.head())
    break

   artist_id                 artist_name
0          0                         NaN
1          1               ##Horror Inc
2          2             840 8:>;09GC:
3          3  ;5:A0=4@ 20:8= (>: >3)
4          4               0=40 G5BK@QE

In [35]:
for t in listening_counts:
    print(t.head())
    break

   user_id  track_id  count
0    92915  26719936      1
1    92915   4271407      1
2    92915   4606511      1
3    92915   8966085      1
4    92915  12290897      1

In [34]:
for t in listening_events:
    print(t.head())
    break

     user_id  track_id  album_id            timestamp
200    51549  27956643  11558340  2013-05-19 22:09:20
201    51549  27956643  11558340  2013-05-19 22:05:54
202    51549  27956643  11558340  2013-05-19 22:02:28
203    51549  27956643  11558340  2013-05-19 21:59:01
204    51549  27956643  11558340  2013-05-19 21:55:35

In [36]:
for t in spotify_uris:
    print(t.head())
    break

   track_id                     uri
0  36346257  4wCmqSrbyCgxEXROQE6vtV
1  32496162  4G8gkOterJn0Ywt6uhqbhp
2  33619193  1c8gk2PeTE04A1pIDH9YMk
3  32083560  7w87IxuO7BDcJ3YUqCyMTT
4  45222862  6mFkJmJqdDVQ1REhVfGgd1

In [54]:
for t in tracks:
    print(t.head())
    break

      track_id       artist_name                            track_name
1500      2244      Materia Gris                         !Soy Tu Vida!
1501      2245           Popskyy                                 !Spin
1502      2246   Plastic Assault                               !Splat!
1503      2247     3 Mustaphas 3        !Starehe Mustapha! I, II & III
1504      2248  Nenia C'alladhan  !Sternblumennacht (original Version)

In [43]:
for t in users:
    print(t.head())
    break

     user_id country  age gender        creation_time
100      100      US   24      m  2004-03-15 04:06:17
101      101      DE   26      f  2004-03-14 21:32:43
102      102      US   32      m  2004-03-15 22:23:15
103      103      RU   -1      n  2004-03-18 13:03:09
104      104      RU   29      f  2004-03-18 16:28:04

In [33]:
len(users), len(users['country'].unique())

(15258, 153)

In [47]:
# percentile of countries with more than 100 users
len(users['country'].value_counts()[users['country'].value_counts() > 100]) / len(users['country'].unique())

0.1437908496732026

In [3]:
#42G     ./data
#21G     ./LFM-2b
import pandas as pd

In [5]:

dataset = 'artist'
path = 'data/json-dumps/20231028-001001/{}/mbdump/{}'.format(dataset, dataset)
df = pd.read_json(path, chunksize=1000, lines=True)

In [20]:
i = 0
for d in df:
    # print column names for one row
    print(d.columns)
    print(d.iloc[i], '------\n', d.iloc[i]['name'], d.iloc[i]['sort-name'])
    break

Index(['type', 'gender', 'isnis', 'end-area', 'annotation', 'genres',
       'relations', 'end_area', 'tags', 'sort-name', 'area', 'id', 'rating',
       'begin_area', 'aliases', 'life-span', 'country', 'type-id', 'name',
       'disambiguation', 'ipis', 'begin-area', 'gender-id'],
      dtype='object')
type                                                         Person
gender                                                       Female
isnis                                            [000000011450622X]
end-area                                                       None
annotation                                                     None
genres            [{'count': 1, 'name': 'soul', 'id': '1b5e7b16-...
relations         [{'direction': 'forward', 'target-credit': '',...
end_area                                                       None
tags              [{'name': 'classic pop and rock', 'count': 1},...
sort-name                                              Adams, Oleta
area              {'iso-3166-1-codes': ['US'], 'id': '489ce91b-6...
id                             d3ffeb64-9d7b-4911-98e5-91ee26005ee9
rating                            {'votes-count': 0, 'value': None}
begin_area        {'sort-name': 'Seattle', 'id': '10adc6b5-63bf-...
aliases           [{'ended': False, 'locale': None, 'end': None,...
life-span         {'ended': False, 'end': None, 'begin': '1954-0...
country                                                          US
type-id                        b6e035f4-3ce9-331c-97df-83397230b0df
name                                                    Oleta Adams
disambiguation
ipis                                     [00035776560, 00231540900]
begin-area        {'sort-name': 'Seattle', 'id': '10adc6b5-63bf-...
gender-id                      93452b5a-a947-30c8-934f-6a4056b151c2
Name: 9000, dtype: object ------
 Oleta Adams Adams, Oleta

In [9]:
dataset = 'artists'
path = 'LFM-2b/{}.tsv.bz2'.format(dataset)
df_2b = pd.read_csv(path, sep='\t', error_bad_lines=False, chunksize=1000)

In [23]:
for d in df_2b:
    # print column names for one row
    print(d.columns)
    print(d.iloc[i], '------\n', d.iloc[i]['artist_name'])
    break

Index(['artist_id', 'artist_name'], dtype='object')
artist_id         103367
artist_name    17secrets
Name: 103000, dtype: object ------
 17secrets

In [27]:
for d in df_2b:
    ddd = (d.loc[(d['artist_name'] == 'Oleta Adams Adams') | (d['artist_name'] == 'Oleta')])
    if len(ddd) > 0:
        print(ddd)
        # print(d)
        # break

         artist_id artist_name
3059902    3060269       Oleta

In [31]:
for d in df_2b:
    print(len(d))
    print('a')
    break

# Reading merged artists

In [7]:
import pandas as pd

In [2]:
import os

scratch_directory = os.environ.get('SCRATCH') + '/'
home_directory = os.environ.get('HOME') + '/'

In [8]:
artists_df = pd.read_csv(scratch_directory + 'data/merged_artists.csv')
artists_df.iloc[0]

,annotation,genres,relations,end_area,tags,sort-name,area,type,gender,isnis,...,begin-area,gender-id,id,rating,begin_area,aliases,life-span,country,artist_id,artist_name
0,NaN,[],"[{'attributes': [], 'attribute-values': {}, 'a...",NaN,[],Young American Primitive,"{'iso-3166-1-codes': ['US'], 'id': '489ce91b-6...",Person,Male,['0000000369479622'],...,NaN,36d3d30a-839d-3eda-8cb3-29be4384e4a9,8636afa4-38d9-4024-9f82-0117716d5821,"{'value': None, 'votes-count': 0}",NaN,[],"{'end': None, 'ended': False, 'begin': None}",US,4478946,Young American Primitive
1,NaN,"[{'disambiguation': '', 'id': '00055e8b-b951-4...","[{'target-credit': '', 'type': 'collaboration'...",NaN,"[{'count': 1, 'name': 'acoustic rock'}, {'coun...",Minutemen,"{'sort-name': 'United States', 'iso-3166-1-cod...",Group,NaN,[],...,"{'id': 'f3e768a3-a9fc-4edb-879d-830247a75063',...",NaN,d4ad0149-d8ae-4105-8009-0221fce9ff35,"{'votes-count': 1, 'value': 4}","{'id': 'f3e768a3-a9fc-4edb-879d-830247a75063',...","[{'sort-name': 'The Minutemen', 'primary': Non...","{'begin': '1980-02', 'ended': True, 'end': '19...",US,2809593,Minutemen
2,NaN,[],"[{'ended': True, 'end': '1988', 'type-id': '5b...",NaN,"[{'name': 'jazz and blues', 'count': 1}, {'nam...",Vital Signs,"{'name': 'Pakistan', 'type-id': None, 'type': ...",Group,NaN,[],...,"{'sort-name': 'Punjab', 'type': None, 'type-id...",NaN,b8cdb71e-77ea-45f1-a058-cdfce0472c18,"{'value': None, 'votes-count': 0}","{'sort-name': 'Punjab', 'type': None, 'type-id...",[],"{'ended': True, 'end': '2013', 'begin': '1987'}",PK,4341829,Vital Signs
3,J.D.K.BAND was founded in 1989-1990 to play ar...,[],"[{'ended': True, 'type-id': '5be4c609-9afa-4ea...",NaN,"[{'count': 1, 'name': 'falcom'}, {'count': 1, ...",J.D.K.BAND,"{'type-id': None, 'type': None, 'name': 'Japan...",Group,NaN,[],...,NaN,NaN,d43549b6-3f32-45a6-9101-f522dd46b3ec,"{'value': None, 'votes-count': 0}",NaN,"[{'sort-name': 'J.D.K. Band', 'primary': None,...","{'begin': '1989', 'end': '1995', 'ended': True}",JP,1988239,J.D.K.BAND
4,NaN,"[{'disambiguation': '', 'id': '56407f9d-3398-4...","[{'attributes': [], 'attribute-values': {}, 'a...",NaN,"[{'name': 'new wave', 'count': 1}, {'name': 'r...",Niagara,"{'sort-name': 'France', 'id': '08310658-51eb-3...",Group,NaN,[],...,"{'type': None, 'type-id': None, 'name': 'Renne...",NaN,63265bdb-9c92-4517-94be-615773e76413,"{'votes-count': 0, 'value': None}","{'type': None, 'type-id': None, 'name': 'Renne...",[],"{'begin': '1982', 'ended': True, 'end': '1993'}",FR,2967650,Niagara
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
927966,NaN,[],NaN,featured on Everything's Perpetual of Syntheti...,Jess,b6e035f4-3ce9-331c-97df-83397230b0df,[],NaN,"{'begin': None, 'ended': False, 'end': None}","{'value': None, 'votes-count': 0}",...,[],NaN,[],NaN,NaN,NaN,[],Person,2083059,Jess
927967,NaN,[],NaN,Italian experimental free jazz trio,V.I.T.R.I.O.L.,e431f5f6-b5d2-343d-8b36-72607fffb74b,"[{'begin': None, 'ended': False, 'locale': Non...",NaN,"{'end': None, 'ended': False, 'begin': None}","{'votes-count': 0, 'value': None}",...,"[{'end': None, 'type-id': '5be4c609-9afa-4ea0-...",NaN,[],NaN,NaN,NaN,[],Group,4288469,V.I.T.R.I.O.L.
927968,36d3d30a-839d-3eda-8cb3-29be4384e4a9,[],NaN,actor,Peter Wright,b6e035f4-3ce9-331c-97df-83397230b0df,[],NaN,"{'end': None, 'ended': False, 'begin': None}","{'votes-count': 0, 'value': None}",...,[{'type-id': '0fdbe3c6-7700-4a31-ae54-b53f06ae...,NaN,[],NaN,NaN,Male,[],Person,3205651,Peter Wright
927969,NaN,[],NaN,NaN,Aned Mota,b6e035f4-3ce9-331c-97df-83397230b0df,[],NaN,"{'begin': None, 'end': None, 'ended': False}","{'value': None, 'votes-count': 0}",...,[],NaN,[],NaN,NaN,NaN,[],Person,366426,Aned Mota
927970,NaN,[],NaN,featured on Everything's Perpetual of Syntheti...,Impress,NaN,[],NaN,"{'begin': None, 'end': None, 'ended': False}","{'value': None, 'votes-count': 0}",...,[],NaN,[],NaN,NaN,NaN,[],NaN,1937422,Impress

In [11]:
names = ['listening-counts.tsv.bz2', 'users.tsv.bz2', 'tracks.tsv.bz2']

users_df = pd.read_csv(scratch_directory + f'data/LFM-2b/{names[1]}', compression='bz2', sep='\t', error_bad_lines=False)
tracks_df = pd.read_csv(scratch_directory + f'data/LFM-2b/{names[2]}', compression='bz2', sep='\t', error_bad_lines=False)

b'Skipping line 1940: expected 3 fields, saw 4\nSkipping line 1969: expected 3 fields, saw 4\nSkipping line 3182: expected 3 fields, saw 4\nSkipping line 3209: expected 3 fields, saw 4\nSkipping line 3219: expected 3 fields, saw 4\nSkipping line 4123: expected 3 fields, saw 4\nSkipping line 4231: expected 3 fields, saw 4\nSkipping line 4433: expected 3 fields, saw 4\nSkipping line 5945: expected 3 fields, saw 4\nSkipping line 6489: expected 3 fields, saw 4\nSkipping line 8096: expected 3 fields, saw 4\nSkipping line 10726: expected 3 fields, saw 4\nSkipping line 11139: expected 3 fields, saw 4\nSkipping line 15556: expected 3 fields, saw 4\nSkipping line 15854: expected 3 fields, saw 4\nSkipping line 18218: expected 3 fields, saw 4\nSkipping line 22702: expected 3 fields, saw 4\nSkipping line 23872: expected 3 fields, saw 4\nSkipping line 23967: expected 3 fields, saw 4\nSkipping line 25810: expected 3 fields, saw 4\nSkipping line 28912: expected 3 fields, saw 4\nSkipping line 29414: expected 3 fields, saw 4\nSkipping line 32295: expected 3 fields, saw 4\nSkipping line 32937: expected 3 fields, saw 4\nSkipping line 39162: expected 3 fields, saw 4\nSkipping line 39250: expected 3 fields, saw 4\nSkipping line 39991: expected 3 fields, saw 4\nSkipping line 43413: expected 3 fields, saw 4\nSkipping line 46470: expected 3 fields, saw 4\nSkipping line 50236: expected 3 fields, saw 4\nSkipping line 50972: expected 3 fields, saw 4\nSkipping line 52609: expected 3 fields, saw 4\nSkipping line 54989: expected 3 fields, saw 4\nSkipping line 57857: expected 3 fields, saw 4\nSkipping line 57864: expected 3 fields, saw 4\nSkipping line 59300: expected 3 fields, saw 4\nSkipping line 59376: expected 3 fields, saw 4\nSkipping line 60614: expected 3 fields, saw 4\n'

In [12]:
users_df.head()

   user_id country  age gender        creation_time
0        0      UK   31      m  2002-12-28 01:00:00
1        1      US   43      m  2003-04-15 02:00:00
2        2      UK   35      m  2002-10-29 01:00:00
3        3      BR   31      m  2003-07-20 02:00:00
4        4     NaN   51      m  2003-07-21 02:00:00

In [13]:
tracks_df.head()

   track_id       artist_name track_name
0         0         Mika Miko        NaN
1         1              Comm          
2         2          deadmau5          
3         3  Rasheed Chappell          
4         4               rck          

In [ ]:
https://github.com/CPJKU/recommendation_systems_fairness/tree/main

In [14]:
listening_counts_df = pd.read_csv(scratch_directory + f'data/LFM-2b/{names[0]}', compression='bz2', sep='\t', error_bad_lines=False)
listening_counts_df.head()